@{
    ViewData["Title"] = "Queue a Job";
}

<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  </head>
  <body>
    <form id="jobForm">
      <table id="tblProject" cellpadding="2" cellspacing="2">
      <tr>  
        <td>
          <label class="parameter">Project ID</label>
          <span class="required">*</span>
        </td>
        <td>
            <input aria-describedby="required-description" type="text" id="ProjectID" class="form-control" name="ProjectID" required maxlength="20"/>
        </td>
      </tr>
      <tr>
        <td>
        <label class="parameter">Project Name</label>
        <span class="required">*</span>
        </td>
        <td>
                    <input type="text" id="ProjectName" class="form-control" name="ProjectName" required maxlength="20"  />
        </td>
      </tr>
      <tr>
        <td>
          <label class="parameter">Report Title</label>
          <span class="required">*</span>
        </td>
        <td>
                    <input type="text" id="ReportTitle" class="form-control" name="ReportTitle" required maxlength="20" />
        </td>
      </tr>
      <tr>
        <td>
          <label class="parameter">Report ID</label>
          <span class="required">*</span>
        </td>
        <td>
                    <input type="text" id="ReportID" class="form-control" required maxlength="20"  />
        </td>
      </tr>
      <tr>
        <td>
          <label class="parameter">Email</label>
          <span class="required">*</span>
        </td>
        <td>
                    <input id="Email" class="form-control" required type="email" />
        </td>
      </tr>
      <tr>
        <td>
          <label class="parameter">Develop a summary excel?</label>
          <span class="required">*</span>
        </td>
        <td>
          <input type="checkbox" id="DevelopSummaryExcel" required class="form-check-input" checked />
        </td>
      </tr>
      <tr>
        <td>
        <label class="parameter">Develop a report?</label>
        <span class="required">*</span>
        </td>
        <td>
          <input type="checkbox" id="DevelopReport" required class="form-check-input" checked />
        </td>
      </tr>
      <tr>
        <td>
          <label class="parameter">File</label>
          <span class="required">*</span>
        </td>
        <td>
          <input type="file" id="ExcelFile" name="ExcelFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required >
        </td>
      </tr>
      </table>
    <input type="submit" onclick="uploadFile(); return false" value="Send" id="Send"></input>
    </form>
    <br/>
    <span id="message"></span>
    <script>
      $("#jobForm").validate();
    </script>
  </body>
</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
<script type="text/javascript">

  function clearAll(){
        $(':input', '#jobForm')
            .not(':button, :submit, :reset, :hidden')
            .val('')
  }
  function validStr(parameter){
    if (parameter != null && typeof(parameter) === 'string')
      return true;
    return false;
  }

  function validFile(fileName){
    const arr = ["csv","xls","xlsx"];
    let extension = fileName.split('.').pop();
    for (let i=0; i<arr.length; i++){
      if (extension==arr[i])
        return true;
    }  
    return false;
  }

  function uploadFile() {
    try {
      var formData = new FormData();
      var fileInput = document.getElementById('ExcelFile');
      var message = document.getElementById("message");

      if (fileInput.files[0]){
      const fileName = (fileInput.files[0]).name;
      
      if(validFile(fileName)) {
      
        const ProjectName = $("#ProjectName").val();
        const ProjectID = $("#ProjectID").val();
        const ReportTitle = $("#ReportTitle").val();
        const ReportID = $("#ReportID").val();
        const DevelopSummaryExcel = $("#DevelopSummaryExcel").val();
        const DevelopReport = $("#DevelopReport").val();
        const Email = $("#Email").val();

        if (!validStr(ProjectName) || !validStr(ProjectID) || !validStr(ReportTitle) || !validStr(ReportID) || Email == null){ 
          message.innerHTML = "Please make sure to fill all fields.";
          message.style.color = "red";
          return;
        } 
    
        if (DevelopSummaryExcel == null || DevelopReport == null){
          message.innerHTML = "Please specify which documents you want to generate.";
          message.style.color = "red";
          return;
        }

        formData.append("ExcelFile", fileInput.files[0]);
        formData.append("ProjectID",ProjectID);
        formData.append("ProjectName",ProjectName);
        formData.append("ReportID",ReportID);
        formData.append("ReportTitle",ReportTitle);
        formData.append("Email",Email);
        formData.append("DevelopSummaryExcel",DevelopSummaryExcel);
        formData.append("DevelopReport",DevelopReport)
        
        axios({
          method: 'post',
          url: 'http://db-GIR.darbeirut.com:8010/GIRReport',
          data: formData,
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'multipart/form-data'
          },
          })
          .then(response => {
              console.log(response);
              var message = document.getElementById('message');
              const projectName = $("#ProjectName").val();
              message.innerHTML = `${projectName} was successfully queued`; 
              message.style.color = "green";
              clearAll();

          })
          .catch(error => {
            message.innerHTML = "Error queuing this project";
            message.style.color = "red";
            console.error(error);
          
          });

      }
      else{
        message.innerHTML = "Invalid file type";
        message.style.color = "red";
      }
      }
      else{
        message.innerHTML = "No file selected";
        message.style.color = "red";
      }
    }
      catch(error){
        var message = document.getElementById("message");
        message.innerHTML = error;
        message.style.color = "red";
      }

  }

</script>
